mixin calculator
    fieldset.calculator
        form(action="/").calculator__form
            label.calculator__label Первое число:
                input(type="number", placeholder="Введите первое число").calculator__input#first_num
            label.calculator__label Второе число:
                input(type="number", placeholder="Введите второе число").calculator__input#second_num
            input(type="button", value="Сложить").calculator__btn
