mixin calculator
    fieldset.calculator
        form(action="/").calculator__form
            label.calculator__label Первое число:
                input(type="text").calculator__input
            label.calculator__label Второе число:
                input(type="text").calculator__input
            input(type="button", value="Сложить").calculator__btn
